<h1>Public::Customers#edit</h1>
<div class="container">
    <h2>会員情報編集</h2>
  <br>
    <%= form_with model: @customer, url: customers_information_path do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= @customer.errors.count %>errors prohibited this customer from being saved:</h2>
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-3">
        <h5>氏名</h5>
      </div>
      <div class="col-sm-4">
        <h4><%= f.text_field :last_name, autofocus: true, placeholder: "姓", autocomplete: "family-name" %></h4>
      </div>
      <div class="col-sm-4">
        <h4><%= f.text_field :first_name, autofocus: true, placeholder: "名", autocomplete: "given-name" %></h4>
      </div>
        <br>
      <div class="col-sm-3">
        <h5>フリガナ</h5>
      </div>
      <div class="col-sm-4">
        <h4><%= f.text_field :last_name_kana, autofocus: true, placeholder: "セイ" %></h4>
      </div>
      <div class="col-sm-4">
        <h4><%= f.text_field :first_name_kana, autofocus: true, placeholder: "メイ" %></h4>
      </div>
        <br>
      <div class="col-sm-3">
        <h5>郵便番号(ハイフンなし)</h5>
      </div>
      <div class="col-sm-9">
        <h4><%= f.text_field :postal_code, autofocus: true, placeholder: "0000000",autocomplete: "postal_code" %></h4>
      </div>
        <br>
      <div class="col-sm-3">
        <h5>住所</h5>
      </div>
      <div class="col-sm-9">
        <h4><%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address", size: "40" %></h4>
      </div>
        <br>
      <div class="col-sm-3">
        <h5>電話番号</h5>
      </div>
      <div class="col-sm-9">
        <h4><%= f.text_field :telephone_number, autofocus: true, placeholder: "00000000000", autocomplete: "tel" %></h4>
      </div>
        <br>
      <div class="col-sm-3">
        <h5>メールアドレス</h5>
      </div>
      <div class="col-sm-9">
        <h4><%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email" , size: "30" %></h4>
      </div>
        <br>
        <br>
        <br>
      </div>
      <br>
    <div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-4">
        <%= f.submit '　編集内容を保存　', class: "btn btn-success btn-lg" %>
        </div>
        <div class="col-sm-3">
        <%= link_to "　退会する　", customers_unsubscribe_path, class: "btn btn-danger text-light btn-lg", method: :get %>
        </div>
      <br>
    </div>
    <% end %>
      <br>
      <br>
    </div>
</div>