<h1>Admin::Items#index</h1>

<div class="container">
<h2>商品一覧</h2>
<br>
<div class="text-right">
  <%= link_to "　商品新規登録　", new_admin_item_path, class: "btn btn-success text-light btn-lg" %>
</div>
</div>
<div class="container mt-5">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>

        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %>円</td>
        <td><%= item.genre.name %></td>
        <td><% if item.is_active %>
            <b class="text-success">販売中</b>
            <% else %>
            <b class="text-danger">販売停止中</b>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>