<h1>Admin::Items#new</h1>
  <div class="container">
    <h2>商品新規登録</h2>
    <br>
    <%= form_with model: @item, url: admin_items_path do |f| %>
        <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= @item.errors.count %>errors prohibited this genre from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="form-group row h5">
          <div class="col-sm-2">
          <label for="item_image">商品画像</label>
          </div>
          <div class="col-sm-5">
          <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        <div class="form-group row h5">
          <div class="col-sm-2">
          <label for="item_name">商品名</label>
          </div>
          <div class="col-sm-5">
          <%= f.text_field :name, class: "form-control item_name", size: 40 %>
          </div>
        </div>
        <div class="form-group row h5">
          <div class="col-sm-2">
          <label for="item_introduction">商品説明</label>
          </div>
          <div class="col-sm-5">
          <%= f.text_area :introduction, class: "form-control item_introduction", size: "42x10" %>
          </div>
        </div>
        <div class="form-group row h5">
          <div class="col-sm-2">
          <label for="genre_name">ジャンル名</label>
          </div>
          <div class="col-sm-5">
          <%= f.collection_select :genre_id, Genre.all, :id, :name,  {}, {class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row h5">
          <div class="col-sm-2">
          <label for="item_price">税抜価格</label>
          </div>
          <div class="col-sm-5">
          <%= f.text_field :price, class: "form-control item_price", size: 40 %>
          </div>
        </div>
      <div class="form-group row h5">
        <div class="col-sm-2">
        <%= f.label :is_active, "販売ステータス", {class: "form-label"} %>
        </div>
        <div class="col-sm-5 btn-group" data-toggle="buttons">
          <label class="btn btn-outline-primary" style="width:50%">
            <%= f.radio_button :is_active, 1, {checked: true} %>販売中
          </label>
          <label class="btn btn-outline-danger" style="width:50%">
            <%= f.radio_button :is_active, 0, {} %>販売停止中
          </label>
        </div>
      </div>
    <br>
      <div class="form-group row h5">
        <div class="col-sm-2">
          </div>
        <div class="col-sm-5">
          <%= f.submit '　新規登録　', class: "btn btn-success btn-lg btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
  <br>