<h1>Admin::Items#show</h1>

<div class="container">
  <h2>商品詳細</h2>
  <br>
    <div class="row">
      <div class="col-sm-4">

        <%= image_tag @item.image, size: "280x260" %>

      </div>

      <div class="col-sm-8">
        <div class="row">
        <div class="col-sm-3">
        <label for="item_name">商品名</label>
        </div>
        <div class="col-sm-5">
          <%= @item.name %>
        </div>
      </div>
    <br>

      <div class="row">
        <div class="col-sm-3">
        <label for="item_introduction">商品説明</label>
        </div>
        <div class="col-sm-5">
          <%= @item.introduction %>
        </div>
      </div>
    <br>

      <div class="row">
        <div class="col-sm-3">
        <label for="genre_name">ジャンル名</label>
        </div>
        <div class="col-sm-5">
          <%= @item.genre.name %>
        </div>
      </div>
    <br>

      <div class="row">
        <div class="col-sm-3">
        <label for="item_price">税込価格(税抜価格)</label>
        </div>
        <div class="col-sm-5">
         <%=( @item.price * 1.1).floor %>円(<%= @item.price %>円)
        </div>
      </div>
    <br>

      <div class="row">
        <div class="col-sm-3">
        <label for="item_is_active">販売ステータス</label>
        </div>
        <div class="col-sm-5">
          <% if @item.is_active %>
            <b class="text-success">販売中</b>
          <% else %>
            <b class="text-danger">販売停止中</b>
          <% end %>
        </div>
      </div>
    <br>

      <div class="row">
        <div class="col-sm-2">
          </div>
        <div class="col-sm-5">
          <%= link_to "　編集する　", edit_admin_item_path(@item), class: "btn btn-success text-light btn-lg" %>
        </div>
      </div>
    <br>
  </div>
  </div>
</div>