<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<div class="container">
<h2>注文履歴一覧</h2>
<br>
  <table class="table table-bordered">
    <thead>
      <tr class="h5 table-secondary">
        <th style="width: 30%">購入日時</th>
        <th style="width: 25%">購入者</th>
        <th style="width: 15%">注文個数</th>
        <th style="width: 30%">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr class="h5">
        <th><%= link_to admin_path(order), method: :get do %>
        <%= order.created_at.to_s(:datetime_jp) %>
        <% end %></th>
        <th><%= order.name %></th>

        <th><% order.order_details.each do |order_detail| %>
        <% @total_amount = 0 %>
        <% @total_amount += order_detail.amount %>
        <%= @total_amount %>
        <% end %></th>
        <th><%= order.status_i18n %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
<br>
</div>