<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<div class="container">
<h2>注文履歴一覧</h2>
<br>
  <table class="table table-bordered">
    <thead>
      <tr class="h5 table-secondary">
        <th style="width: 30%">購入日時</th>
        <th style="width: 25%">購入者</th>
        <th style="width: 15%">注文個数</th>
        <th style="width: 30%">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @order_details.each do |order_detail| %>
      <tr class="h5">
        <th><%= link_to admin_path(@orders), method: :get do %>
        <%= order_detail.created_at.to_s(:datetime_jp) %>
        <% end %></th>
        <th><%= order_detail.order.name %></th>
        <th><%= order_detail.amount %></th>
        <th><%= order_detail.order.status_i18n %></th>
      </tr>
    <% end %>
    </tbody>
  </table>
<br>
</div>