<h1>Public::Addresses#index</h1>
  <br>
  <div class="container">
    <h2>配送先登録/一覧</h2>
  <br>
    <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
    <%= f.hidden_field :customer_id, :value => @current_customer.id %>
    <% if @address.errors.any? %>
      <div id="error_explanation">
        <h2><%= @address.errors.count %>errors prohibited this address from being saved:</h2>
        <ul>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-3">
        <h5>郵便番号(ハイフンなし)</h5>
        <br>
        <h5>住所</h5>
        <br>
        <h5>宛名</h5>
        <br>
      </div>

    <div class="col-sm-6">
      <div class="form-group">
        <h4><%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", autocomplete: "postal-code" %></h4>
      </div>
      <div class="form-group">
        <h4><%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", autocomplete: "address", size: "40" %></h4>
      </div>
      <div class="form-group">
        <h4><%= f.text_field :namespace, autofocus: true, placeholder: "令和道子" %></h4>
      </div>
      <br>
      <div class="form-group">
        <%= f.submit '　新規登録　', class: "btn btn-success btn-lg" %>
      </div>
      <br>
    </div>
  <% end %>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th><h5>郵便番号</h5></th>
          <th><h5>住所</h5></th>
          <th><h5>宛名</h5></th>
          <th>　　</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><h5><%= address.postal_code %></h5></td>
          <td><h5><%= address.address %></h5></td>
          <td><h5><%= address.namespace %></h5></td>
          <td>
            <%= link_to "　編集する　", edit_address_path(address), class: "btn btn-success text-light btn-lg" %>
            <%= link_to "　削除する　", address_path(address), class: "btn btn-danger text-light btn-lg", method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>