<h1>Public::CartItems#index</h1>
<div class="container">
<h2>ショッピングカート</h2>
<br>
<div class="text-right">
  <%= link_to "　カートを空にする　", cart_items_destroy_all_path, class: "btn btn-danger text-light btn", method: :delete %>
</div>
<br>
  <table class="table table-bordered">
    <thead>
      <tr class="h5 table-secondary">
        <th style="width: 30%">商品名</th>
        <th style="width: 15%">単価(税込)</th>
        <th style="width: 20%">数量</th>
        <th style="width: 15%">小計(税込)</th>
        <th style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr class="h5">
        <td>
          <% if cart_item.item.image.attached? %>
            <%= link_to item_path(cart_item.item) do %>
            <%= image_tag cart_item.item.image, size: "120x100" %>
            <% end %>
          <% else %>
            <%= image_tag 'default-image', size: "120x100" %>
          <% end %>
          <%= cart_item.item.name %>
        </td>
        <td class="align-middle"><%= cart_item.item.with_tax_price %>円</td>
        <td class="align-middle">
          <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
          <%= f.select :amount, [["１個", 1], ["２個", 2], ["３個", 3], ["４個", 4], ["５個", 5], ["６個", 6], ["７個", 7], ["８個", 8], ["９個", 9], ["１０個", 10]] %>
          <%= f.submit ' 変更 ', class: "btn btn-success ml-4"%>
          <% end %>
        </td>
        <td class="align-middle"><%= cart_item.subtotal %>円</td>
          <% @total_payment += cart_item.subtotal %>
        <td class="align-middle">
            <%= link_to "削除する", cart_item_path(cart_item.id), class: "btn btn-danger text-light", method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="row">
    <div class="col-3">
      <%= link_to " 買い物を続ける ", root_path, class: "btn btn-primary text-light btn-lg btn-block" %>
    </div>
    <div class="col-5"></div>
    <div class="col-4">
      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr class="h5">
            <td class="table-secondary font-weight-bold">合計金額</td>
            <td><%= @total_payment %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
   <% if @cart_items != [] %>
    <div class="d-grid gap-2 col-3 mx-auto">
      <%= link_to " 情報入力に進む ", new_order_path, class: "btn btn-success text-light btn-lg btn-block" %>
    </div>
   <% end %>
  <br>
</div>