<h1>Public::Items#index</h1>

<div class="container">
<h2>商品一覧</h2>
<br>

  <div class="row">
    <% @items.each do |item| %>
    <div class="col-sm-3">
      <%= link_to item_path(item.id) do %>
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "260x180" %>
      <% else %>
        <%= image_tag 'default-image', size: "260x180" %>
      <% end %>
      <br>
      <br>
      <h5><%= item.name %></h5>
      <% end %>
      <br>
      <h5><%= (item.price * 1.1).floor %>円(税込)</h5>
    </div>
    <% end %>
    <%= paginate @items %>
  </div>
</div>