<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="application.css">
    <script src="https://kit.fontawesome.com/49c3f1be0c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.png', size: '180x140' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if admin_signed_in? %>

              <li class="nav-item">
                <%= link_to '商品一覧', admin_items_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to '会員一覧', admin_customers_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to '注文履歴一覧', admin_homes_top_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark mr-5' %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                <%= link_to 'マイページ', customers_mypage(current_customer), class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to '商品一覧', items_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "カート", cart_items_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark mr-5' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'About', about_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to '商品一覧', items_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-dark mr-5' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container px-5 px-sm-0">
      <div class="text-success">
        <%= flash[:notice] %>
      </div>
    </div>
    <%= yield %>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        </br>
        </br>
      </div>
    </footer>
  </body>
</html>
